html, body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  place-items: center;
  place-content: center;
}

.container {
  text-align: center;
}

img{
  width: 300px;
  aspect-ratio: 1;
  border-radius: 13px;
  transform: translateY(-14px);
  animation: questionMarkFloat 2s ease-in-out infinite;
  will-change: transform;
}

@keyframes questionMarkFloat {
  0%,
  100% {
    transform: translateY(-14px);
  }

  50% {
    transform: translateY(14px);
  }
}
