html, body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  place-items: center;
  place-content: center;
}

.container {
  text-align: center;
  font-style: italic;
}

.tempLink {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #0a253e;
  &:hover{
    color: #007db4;
  }
}

img{
  width: 300px;
  aspect-ratio: 1;
  transform: translateY(-14px);
  animation: questionMarkFloat 7s ease-in-out infinite;
  will-change: transform;
}

@keyframes questionMarkFloat {
  0%,
  100% {
    transform: translateY(-14px);
  }

  50% {
    transform: translateY(14px);
  }
}
